@using Umbraco.Community.SimpleDashboards.Core
@inherits Umbraco.Community.SimpleDashboards.Web.DashboardViewPage
@{
    var path = Model.Dashboard.ViewPath;
    var viewComponentName = Model.Dashboard.ViewComponent;
}
<uui-box>
    <div slot="headline">
        <umb-localize key="simpleDashboards_viewNotFound"></umb-localize>
    </div>
    <p>Please create either of the following:</p>
    <ul>
        <li>
            A View located at <span>@path</span>
            <pre><code title="@path" language="'CSHTML'">@Constants.ExampleView</code></pre>
        </li>
        <li>
            A ViewComponent called <span>@viewComponentName</span>
            <pre><code title="@viewComponentName" language="'csharp'">@Constants.ExampleViewComponent(viewComponentName)</code></pre>
        </li>
    </ul>
</uui-box>
